body {
    background-color: rgb(163, 109, 9);
}

main {
    width: 600px;
    background-color: white;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: rgb(163, 109, 9);
    text-shadow: 2px 2px 2px black;
}

h2 {
    color: rgb(7, 7, 179);
    text-decoration: underline;
}